#IDE files
**/.vscode
.DS_Store
.fleet
.idea
# packages
node_modules
apps/*/node_modules
packages/*/node_modules
internal/*/node_modules


# apps ingore files
### admin ####
apps/web-admin/dist
### admin ####
### web ####
# Nuxt dev/build outputs
apps/web/.output
apps/web/.data
apps/web/.nuxt
apps/web/.nitro
apps/web/.cache
apps/web/dist
apps/web/.env.production
apps/web/.env.local
### web ####
### backend ####
# output files
/apps/backend/dist
# backend yaml config file
apps/backend/application.prod.yaml
# local file
apps/backend/application.local.yaml
# uload files
apps/backend/upload
apps/backend/uploadFile
### backend ####
apps/*logs
apps/*/*.log

#docs
/docs/.vitepress/cache/
docs/dist

# packages
packages/**/dist
# internal
internal/**/dist
