# 忽略所有打包文件
apps/**/dist
editor/**/dist

#node_modules
**/node_modules

# ide files
.idea

# cache files
/apps/web/.next/

# turbo
.turbo
**/.turbo/

#tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo
# rollup.cache
editor/**/.rollup.cache/
